body{
    padding: 0;
    margin: 0;
    text-align: left;    
    background-color: #fefefe;
}
.container{
    width: 70%;
    border: 2px solid rgba(29, 29, 29, 1);
    font-family: cursive;
    margin: 0 auto;
}